# This is Git's per-user configuration file.
[core]
	excludesfile = /Users/arnoschutijzer/.gitignore_global
	pager = delta
[pull]
	ff = only
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[branch]
	autosetuprebase = always
[alias]
	praise = blame
	fixup = commit --amend --no-edit
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[includeIf "gitdir:~/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:~/development/skryv/"]
    path = ~/.gitconfig-work
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[rerere]
	enabled = true
